# created by virtualenv automatically
.idea
.venv
Files/input/*
Files/config/private/*
Files/output/*
Files\input\*
Files\config\private\*
Files\output\*
\classes\__pycache__\*
/classes/__pycache__/*
build
dist
log.txt